body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

body.transition {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.scaling-wrapper {
  transform: scale(1.25);
  transform-origin: top left;
  width: 80vw;
}

h1,
h2 {
  margin: 0;
}

@media (max-width: 768px) {
  h1,
  h2 {
    margin: 0;
    text-align: center;
  }
}

body.form-page .scaling-wrapper {
  transform: none;
  width: 100%;
}

/* Form buttons */
form button {
  padding: 14px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

form button:hover {
  background-color: #004494;
}

/* Link buttons (used for "Back to Logbook", etc.) */
.button-link {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
}

.button-link:hover {
  background-color: #004494;
}

/* Link section styling */
.link {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.link a {
  color: #0056b3;
  text-decoration: none;
}


.widget-buttons {
  position: absolute;
  display: flex;
  top: 8px;
  right: 10px;
  display: flex;
  z-index: 2;
}

/* Edit button matches fullscreen button */
.edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  z-index: 2;
}

/* Hover effect same as fullscreen button */
.edit-btn:hover,
.fullscreen-btn:hover {
  opacity: 0.7;
}